.logo {
	font-size: 50;
	text-decoration: none !important;
	font-style: italic;
	font-family: fantasy;
	color: green;
}

body {
	background: silver;
}

.userTable {
	border: 1px;
	border-style: solid;
	border-color: gray;
	border-style: solid;
}